<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flexbox</title>
    <link rel="stylesheet" href="./css/results.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <header>
        <h1>View Question</h1>
    </header>
    <div class="container">
       
            
            
            <div class="side">

                <div class="dropdown">
                    <input type="text" class="textbox"
                    placeholder="Coures & Exams" readonly>
                    <div class="option">
                        <div><ion-icon name="documents-outline"></ion-icon><a href="/course">Manage Courses</a></div>
                        <div><ion-icon name="document-text-outline"></ion-icon><a href="/exam">Manage Exams</a></div>
                        <div><ion-icon name="checkmark-circle-outline"></ion-icon><a href="/viewquestion">Manage Questions</a></div>
                        <div><ion-icon name="add-circle-outline"></ion-icon><a href="/addquestion">Add Questions</a></div>
                        <div><ion-icon name="analytics-outline"></ion-icon><a href="/result">Results</a></div>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="section1">
                    <div><ion-icon name="menu"></ion-icon>viewing All Projects</div>
                </div>
                <hr>
        <div class="section2">
            <table>
                <tr>
                    <th>Course Name</th>
                    <th>Course Description</th>
                    <th>Fees</th>
                    <th>Action</th>
                </tr>
                                    <tr>
                        <td>Snow Flake</td>
                        <td>SnowFlake is an Data ware house system used for Analytical purpose<br>
                        Snow Flake is an Which runs on AWS/GCP/AZURE System</td>
                        <td>$0.USD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>AWS Cloud</td>
                        <td>AWS Cloud</td>
                        <td>$0.USD</td>
                        <td></td>
                    </tr>
                
            </table>
                   
        
    </div>
    
</body>
</html>