@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main-div
{
    display: flex;
    justify-content: center;
    background-color: limegreen;
    color: red;
}
.main-content
{
    margin: 30px;
    text-align: center;
    color: saddlebrown;
}
.content_btn
{
    margin: 5px;
    padding: 5px 10px;
    color: rgb(224, 12, 12);
    border: 2px solid #212F3D;
    border-radius: 10px;

}
.text_content
{
    margin: 30px;
    text-align: center;
    color: saddlebrown;
    font-size: 24px;
}
.inputField-Content
{
    margin: 30px;
    text-align: center;
    color: saddlebrown;
    font-size: 20px;
}
.main_inputfield
{
    margin: 10px;
    padding: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid limegreen;
    border-radius: 10px;
    background-color: whitesmoke;
    
}
.input_btn
{
    margin: 10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: #fff;

}
.submit-btn
{
    margin: 5px;
    padding: 5px 10px;
    color: rgb(224, 12, 12);
    border: 2px solid #212F3D;
    border-radius: 10px;
}