@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,500;1,300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: whitesmoke;
}
.search-maindiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    h2
    {
        background-color: lime;
        color: red;
        padding: 20px 50px;
    }
}