@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #2E4053;
}
body
{
    background-color: rgb(176, 180, 180);

}
header{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    text-align:  center;
}
.container
{
    display: flex;
 
}
.side
{
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    margin: 10px;
    padding: 10px;
    flex-basis: 170px;
    }
.dropdown
      {
         position: relative;
         width: 250px; 
         height: 50px;
      }
      .dropdown input
      {
          position: absolute;
          top: 0;
          left:0;
          width:70%;
          height:100%;
          cursor:pointer;
          background: #fff;
          border: none;
          outline:none;
          box-shadow: 0 5px 20px rgba(0,0,0,0.05) ;
          padding: 12px 20px;
          border-radius: 10px;
      }
      .dropdown .option
      {
          position: absolute;
          top: 50px;
          width: 100%;
          font-size: 14px;
          background: #fff;
          box-shadow: 0 33px 30px rgba(0,0,0,0.05);
          border-radius: 10px;
          overflow: hidden;
      }
      .dropdown .option div
      {
         padding: 12px 20px;
         cursor: pointer;
      }
      .dropdown .option div:hover
      {
          background: #62baea;
          color: #fff;
      }
      .dropdown .option div ion-icon
      {
          position: relative;
          top: 4px;
          font-size: 1.3rem;
      }
  
.main
{
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    display: flex;   
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    flex-grow: 1;
}
.section1
{
    padding: 15px;
    background-color: lightgrey;
}
.section1 div ion-icon
{
    position: relative;
    font-size: 24px;
    top: 5px;
}
  .section2
  {
    display: flex;
    justify-content: space-evenly;
  }
  .section3, .section5{
    display: flex;
    justify-content: flex-end;
    margin: 10px 20px;
    
  }
  .box1, .box2
  {
    padding: 20px 20px 10px 10px;

  }
  label
  {
    display: block;
    padding: 4px 5px;
  }
  input
  {
    border-radius: 18px;
    height: 15px;
    padding: 10px 30px;
    border: 2px solid lightslategray;
  }
  .time
  {
    padding-right: 100px;
  }
  .section4
  {
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 10px;
  }
  
  .lbl1
  {
    padding: 0px 0px 0px 60px;
  }
  .lbl2
  {
    padding: 0px 0px 0px 30px;
  }
  .box
  {
    border: 2px solid lightslategrey;
    border-radius: 15px;
    margin-bottom: 5px;
  }
  select
  {
     border-radius: 18px;
     height: 35px;
     border: 2px solid lightslategray;
     padding: 0px 50px;
  }
 
  .btn1, .btn2, .btn3, .btn4, .btn5, .btn6
  {
    padding: 5px 10px;
    border-radius: 8px;
    height: 30px;
    background-color: deepskyblue;
  }
  .btn5, .btn6
  {
  padding: 5px 35px;
  margin-left: 20px;
  }
  div.box>input
  {
    border: none;
    height: 25px;
    padding: 50px 160px;
    
  }