@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
main{
    width: 90%;
    margin: 50px auto;
    border: 2px solid lightslategray;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-row-gap: 20px;
    grid-column-gap: 20px; */
    grid-gap: 20px;
}
.div1{background-color: aqua;}
.div2{background-color: aquamarine;}
.div3{background-color: rgb(35, 119, 119);}
.div4{background-color: blue;}
.div5{background-color: crimson;}
.div6{background-color: blueviolet;}