
*{
    margin: 0;
    padding: 0;
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
   
    background: linear-gradient(to right, #ad5389, #3c1053);
    
}
.container{
    border-radius: 12px;    
}
.form-title{
    text-align:center;
    color: whitesmoke;
}
    

.register-from,label{
    display: block;
    font-weight:bold;
    margin: 5px;
    color: #3c1053;
   

}
.register-from,input{
    padding: 5px;
    width: 300px;
    border-radius: 10px;
    border: 2px solid lightslategray;

}

.regis-btn{
    margin:5px;
    background-color: #4D0C55 ;
    color:white;
    padding:5px;
    border-radius:10px;
    font-weight:bold;
}
.profile-image{
    margin-top:30px;
}
.nav-login{
    display: flex;
    justify-content: center;
    
    text-align: center;
    text-decoration: none;
    color: #2b041b;
}