@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,500;1,300&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #03a9f4;
    transition: 0.5s;
}
body.active{
    background: #f43648;
}
.container{
    position: relative;
    width: 800px;
    height: 500px;
    margin: 20px;
    
}
.blueBg{
    position: absolute;
    top:40px;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 5px 45px rgba(0,0,0,0.15);
}
.blueBg .box{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.blueBg .box h2{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.blueBg .box button{
    cursor: pointer;
    padding: 10px 20px;
    background: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    border: none;
}
.formBx{
    position: absolute;
    top:0;
    Left: 0;
    width: 50%;
    height: 100%;
    background: #fff;
    z-index:1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.20);
    transition: 0.5s ease-in-out;
    overflow: hidden;
}
.formBx.active{
    Left:50%;
}
.formBx .form{
    position: absolute;
    Left:0;
    width: 100%;
    padding: 50px;
    transition: 0.5s;

}
.formBx .signinForm{
    transition-delay: 0.25ms;

}
.formBx.active .signinForm {
Left: -100%;
}
.formBx .signupForm{
    Left: 100%;
    transition-delay: 0.25ms;
}
.formBx.active .signupForm{
    Left: 0;
}
.formBx .form form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.formBx .form form h3{
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: 500;
}
.formBx .form form input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    border: 1px solid #333;
}
.formBx .form form input[type="submit"]{
    background: #03a9f4;
    border: none;
    color: #666;
    max-width: 100px;
    cursor:pointer;
}
.formBx.active .signupForm input[type="submit"]{
    background: #f43648;
}
.formBx .form form .forgot{
    color:#333;
}