@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.headerDiv{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    font-size: 30px;
}
.sidebarDiv{
    height: 90vh;
    width: 300px;
    background-color: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
    
}
.indexMainDiv
{
    .contentDiv{
        display: flex;
    }
}